<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .fz-22 {
            font-size: 22px;
        }
        li > span {
            font-size: 1rem;
        }
        
    </style>
    <title>Todo list</title>
  </head>
  <body>
    <div class="container">

        <h1 class="text-center mt-5"><a href="/">Register</a></h1>
        
        

        <form class="form col-md-8 offset-md-2 mb-5" action="" method="POST">
            {{ regform.hidden_tag() }}
            <div class="form-group">
                {{ regform.username.label() }}
                {{ regform.username(class="form-control") }}   
                {% if regform.username.errors %}
                    {% for error in regform.username.errors %}
                    <div style="background-color: rosybrown; border-radius: 5px; border: 1px solid black;">
                        {{ error }}
                    </div>
                    {% endfor %}
                {% endif %} 
            </div>
            <div class="form-group"> 
                {{ regform.email.label() }}
                {{ regform.email(class="form-control") }}
                {% if regform.email.errors %}
                {% for error in regform.email.errors %}
                <div style="background-color: rosybrown; border-radius: 5px; border: 1px solid black;">
                    {{ error }}
                </div>
                {% endfor %}
            {% endif %} 
            </div>
            <div class="form-group">
                
                {{ regform.password1.label() }}
                {{ regform.password1(class="form-control") }}
                {% if regform.password1.errors %}
                {% for error in regform.password1.errors %}
                <div style="background-color: rosybrown; border-radius: 5px; border: 1px solid black;">
                    {{ error }}
                </div>
                {% endfor %}
            {% endif %} 
            </div>
            <div class="form-group">
                {{ regform.password2.label() }}
                {{ regform.password2(class="form-control") }}
                {% if regform.password2.errors %}
                {% for error in regform.password2.errors %}
                <div style="background-color: rosybrown; border-radius: 5px; border: 1px solid black;">
                    {{ error }}
                </div>
                {% endfor %}
            {% endif %} 
            </div>
            
            <button type="submit" class="btn btn-primary">Register</button>
           
            <!-- <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div> -->
        </form>

    
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
